main{
background-color: rgba(221, 221, 221, 0.205);
height: 88vh;
max-height: 90vh;
overflow-y: scroll;
padding: 0 0.2rem;
}

/* ::-webkit-scrollbar{
  overflow: hidden;
} */

@media screen and (min-width:900px){
main{
  width: 88vw;
  margin: 0 auto;
}
}